#Q1 print      
iNeuron        
iNeuron iNeuron      
iNeuron iNeuron iNeuron     
iNeuron iNeuron iNeuron

In [3]:
a = 'iNeuron'
for i in range(4):
    if i != 3:
        for j in range(i+1):
            print(a, end= " ")
        print()
    else:
        for j in range(i):
            print(a, end = " ")
        print()

iNeuron
iNeuron iNeuron
iNeuron iNeuron iNeuron
iNeuron iNeuron iNeuron

Q2: Print             
                   iNeuron                  
                  iNeuron       iNeuron            
       iNeuron       iNeuron       iNeuron             
              iNeuron       iNeuron             
                     iNeuron

In [4]:
a = 'iNeuron'

for i in range(5):
    if i < 3:
        for j in range(i, 3):
            print(" "*len(a), end = "")
        for j in range(i+1):
            print(a, end = ' '*len(a))
        print()
    else:
        for j in range(0, i-1):
           print(" "*len(a), end = "")
        for j in range(0,5-i):
            print(a, end = ' '* len(a))
        print()

                     iNeuron
              iNeuron       iNeuron
       iNeuron       iNeuron       iNeuron
              iNeuron       iNeuron
                     iNeuron

In [5]:
l = [
    [1,2,3,4], (2,3,4,5,6), (3,4,5,6,7),
    set([23,4,5,45,4,4,5,45,45,4,5,]),
    {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3:6, 7:8}, 
    ['ineuron', 'datascience']
]

In [6]:
# Q3 Try to extract all the list entities
# Q4 Try to extract all the dict entities
# Q5 Try to extract all the tuples entities
# Q6 Try to extract all the numerical data, it may be the part of dictionary or value
# Q7 Try to give sum of all numerical data
# Q8 Try to filter out all the odd values in numeric data which is a part of a list
# Q9 Try to extract 'ineuron' out of data
# Q10 Try to find out number of occurace of all the data
#Q11 Find out the number or keys dict
#Q12 Filter the string dat ain list
#Q13 Filter out alphanumeric in the data
#Q14 Find out multiplication of all the individual collection inside dataset
#Q15. Try to unwrape all the collection and create a flat list.

In [7]:
# Q3 Try to extract all the list entities
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'datascience']

In [8]:
# Ans4:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [9]:
# Q5 Try to extract all the tuples entities
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [10]:
#Q6 Try to extract all the numerical data, it may be the part of dictionary
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                l1.append(j)
    if type(i) == dict:
        for k, v in i.items():
            if type(k) == int:
                l1.append(k)
            if type(v) == int:
                l1.append(v)
                
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [11]:
# Q7 Try to give sum of all numerical data
sum(l1)

156

In [12]:
"""Q8 Try to filter out all the odd values in numeric data 
which is a part of a list

"""
l2 = []
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) ==int:
                if j%2 ==1:
                    l2.append(j)
                    
print(l2)

[1, 3]

In [15]:
# Q9 Try to extract 'ineuron' out of data

l3 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j  in i:
            if j == 'ineuron':
                l3.append(j)              
                
    if type(i) == dict:
        for k, v in i.items():
            if k == 'ineuron':
                l3.append(k)
            if v == 'ineuron':
                l3.append(v)

print(l3)

['ineuron', 'ineuron']

In [14]:
# Q10 Try to find out number of occurace of all the data

l4 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            l4.append(j)
    if type(i) == dict:
        for k,v in i.items():
            l4.append(k)
            l4.append(v)
# counting the number of occurance
s = set(l4)
counter = 0
for j in s:
    for i in range(len(l4)):
        if l4[i] == j:
            counter += 1
    print(j, counter)
    counter = 0

1 1
2 2
3 4
4 4
5 3
6 3
7 2
k1 1
k2 1
8 1
datascience 1
45 1
kumar 1
sudh 1
ineuron 2
23 1
k3 1

In [20]:
#Q11 Find out the number or keys dict element

for i in l:
    if type(i) == dict:
        print('No. of elements in dict:', len(i))

No. of elements in dict: 5

In [18]:
# or the second meaning could be
for i in l:
    if type(i) == dict:
        counter = 0
        for j in i:
            if type(j) == int:
                counter += 1
        print('No of numerical in dict:', counter)

No of numerical in dict: 2

In [21]:
# Q12 Filter the string data in list
l5 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                l5.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str:
                l5.append(k)
            if type(v) == str:
                l5.append(v)
print(l5)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'datascience']

In [22]:
# Q13 Filter out alphanumeric in the data:
l6 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                if j.isalnum() == True:
                    l6.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str:
                if k.isalnum() == True:
                    l6.append(k)
            if type(v) == str:
                if v.isalnum() == True:
                    l6.append(v)
                
print(l6)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'datascience']

In [23]:
"""#Q14 Find out multiplication of all the individual 
collection inside dataset"""
# string * string multiplication is not possible
# so it may mean multiplication of the numeric data of individual element:
l7 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        mul = 1
        for j in i:
            if type(j) == int:
                mul = mul*j
        l7.append(mul)
        mul = 1
    if type(i) == dict:
        mul = 1
        x = []
        for k, v in i.items():
            if type(k) == int:
                x.append(k)
            if type(v) == int:
                x.append(v)
        for m in x:
            mul = mul*m
        l7.append(mul)
        x = []
        mul = 1
            
print(l7)

[24, 720, 2520, 20700, 1008, 1]

In [24]:
#Q15. Try to unwrape all the collection and create a flat list.

l4 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            l4.append(j)
    if type(i) == dict:
        for k,v in i.items():
            l4.append(k)
            l4.append(v)
print(l4)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'datascience']