Today Task:     
shivan@ineuron.ai, sudhanshu@ineuron.ai    

Q1. Try to print a prime number in between 1 to 1000       
Q2. Try to write a function which is equivalent to print function in python   
Q3. Try to write a function which is replica of list append, extend and pop function   
Q4. Try to write a function which can return a concatination of all strings that we will pass    
Q5. Try to write a lambda function which can return list of square of all data between 1-100    
Q6. Try to write a 10 different examples of lambda function with a choice of your tasks    
Q7. Try to write a function which can perform a read operation from .txt file.

In [16]:
#Q1 Try to print a prime number in between 1 to 1000

def primePrint(a, b):
    '''Print the prime numbers between a given interval.'''
    try:
        x = []
        m = max(a, b)
        for i in range(1, m+1):
            count = 0
           
            for j in range(1, i+1):
                if i%j == 0:
                    count = count+1
            if count == 2:
                x.append(i)
        print("The prime numbers in the given interval are:", x)
        return x
    except:
        print("Please provide a valid interval.")

In [17]:
primePrint(10,1)

The prime numbers in the given interval are: [2, 3, 5, 7]

[2, 3, 5, 7]

In [18]:
primePrint(1,1000)

The prime numbers in the given interval are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997]

In [ ]:
#Q2: Try to write a function which is equivalent to print function in python

In [36]:
def custom_print(*a):
    """ A custom print function which return a string"""
    c = ""
    for i in a:
        c = str(c) + str(i) + str(' ')
    c.strip()
    return c

In [38]:
custom_print("Hello", 2*8, 25, 'Python')

'Hello 16 25 Python '

In [ ]:
#Q3. Try to write a function which is replica of list append, extend and pop function

In [66]:
def listAppend(a,b):
    """Appending an item to an existing list"""
    try:
        a =  a + [b]
        return a
    except:
        print("Enter a valid list")

In [67]:
x = [2,3]
listAppend(x, 1)

[2, 3, 1]

In [68]:
x = [1,2,3,4]

x = listAppend(x,'name')

x

[1, 2, 3, 4, 'name']

In [72]:
def listExtend(a,b):
    """Extending a list a with items in list b"""
    try:
        if type(a) == list and type(b) == list:
            a = a + b
            return a
    except:
        print("Enter a valid list")

In [73]:
x = [1,2,3]
y = ['a', 'b', 'c']

In [74]:
x = listExtend(x,y)
x

[1, 2, 3, 'a', 'b', 'c']

In [82]:
def listPop(a, b = -1):
    """Poppping a element of given index b from a list a."""
    try:
        if b != -1:
            a = a[:b] + a[b+1:]
        else:
            a = a[:b]
        return a
    except:
        print("Enter a valid list")

In [83]:
x = [1,2,3,4,5]

# removing 2nd index from x

listPop(x, 2)

[1, 2, 4, 5]

In [84]:
listPop(x)

[1, 2, 3, 4]

In [79]:
x = [1,2,3, 4, 5]
x = x[:-1] + x[0:]
x

[1, 2, 3, 4, 1, 2, 3, 4, 5]

In [80]:
x = [1,2,3,4,5]
x = x[:0] + x[1:]
x

[2, 3, 4, 5]

In [97]:
#Q4. Try to write a function which can return a concatination of all strings that we will pass

def addString(a, *b):
    """This will concatenate the strings that are passed."""
    x = [a] + list(b)
    t = ""
    for i in x:
        t = t + i
        print(i, end="")
    return t

In [98]:
addString("My name is", " Abhishek Mishra")

My name is Abhishek Mishra

'My name is Abhishek Mishra'

In [21]:
#Q5. Try to write a lambda function which can return list of square of all data between 1-100
"""The lambda function does not work on a list directly.
We have to use map function for this task."""

'The lambda function does not work on a list directly.\nWe have to use map function for this task.'

In [23]:
# making an input list of integers from 1 to 100
# writing the whole thing in a single line

list(map(lambda i: i**2, list(range(1,101))))

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [ ]:
# Q6. Try to write a 10 different examples of lambda function with a choice of your tasks

In [43]:
#F1 Function to perform normal arthematic
sqr = lambda x: x**2
sqr(4)

16

In [44]:
#F2 function using conditionals:
# comparing a number with digit 3
comp3 =  lambda x: "T" if x< 3 else "F"

comp3(5)

'F'

In [45]:
comp3(2)

'T'

In [46]:
#F3 Arthematic on two variables

# using lambda function in asingle line

(lambda x, y: x*y)(6,2)

12

In [47]:
#F4 using map to operate on a list

# using a cube lambda function 

list(map(lambda x: x**3, list(range(10))))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [49]:
#F5 Using Filter function to select some even numbers

list(filter(lambda x: (x%2 == 0) , list(range(20))))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [56]:
# F6 using multiple arguments
(lambda *x: print(x))(3,5,6)

(3, 5, 6)

In [60]:
#F7 Using reduce for iteration

from functools import reduce

f5 = list(range(1,6))

# using reduce to find factorials with list from 1 to 5

reduce(lambda x, y: x*y, f5)

120

In [61]:
#F8 using for print and fuction assignment

x = lambda x, y : x*y

print("Multiplication of", 3, "&", 7, "=", x(3,7))

Multiplication of 3 & 7 = 21

In [63]:
#F9 Use it with strings:

x = ['name', 'age', 'class', 'village']

# using to modify a string

list(map(lambda i: i.title(), x))

['Name', 'Age', 'Class', 'Village']

In [64]:
#F10 Using conditionals on a list

x = [98,56,78,65,23,95,61,114,23,58,75,694,56,84,62]

# finding the maximum value of a list

from functools import reduce

print(reduce(lambda a, b: a if a > b else b, x))

694

In [65]:
#Q7. Try to write a function which can perform a read operation from .txt file.

txtfile = open("D:/python.txt")

In [67]:
print(txtfile.read())

Hello! Have a good day!

In [70]:
def readFile(filepath, filename):
    '''This functions performs a read operation on a text 
    file stored at filepath and reads the file named filename.
    Provide filepath as directory C:/books/python
    Provide filename as mydoc.txt'''
    path = str(filepath) + str('/') + str(filename)
    txtfile = open(path)
    myFile = txtfile.read()
    print(myFile)
    return myFile

In [71]:
readFile("D:", "python.txt")

Hello! Have a good day!

'Hello! Have a good day!'