#### Python Basics Assignment 16

Q1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [2]:
year_list = [1988,1989,1990,1991,1992,1993]

Q2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.
Answer:
The third birthday would be the fourth entry and/or 3rd index in the list.

In [3]:
year_list[3]

1991

Q3.In the years list, which year were you the oldest?  
Answer:  
The last entry

In [4]:
year_list[-1]

1993

Q4. Make a list called things with these three strings as elements:  'mozzarella', 'cinderella', 'salmonella'.

In [5]:
things = ['mozzarella', 'cinderella', 'salmonella']

Q5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?  
Answer:
It has two steps.

In [13]:
# cinderella is athe name of person
things[1].upper()

'CINDERELLA'

In [7]:
# printing the list
print(things)

['mozzarella', 'cinderella', 'salmonella']

It doesn't change the list as the main list was not modified.

Q6. Make a surprise list with the elements 'Groucho', 'Chico' and 'Harpo'.

In [9]:
surprise = ['Groucho', 'Chico', 'Harpo']

Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [12]:
(surprise[-1].lower())[::-1].upper()

'OPRAH'

Q8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [14]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [15]:
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

Q9. Write the French word for walrus in your three-word dictionary e2f.

In [17]:
e2f['walrus']

'morse'

Q10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [18]:
e2f.items()

dict_items([('dog', 'chien'), ('cat', 'chat'), ('walrus', 'morse')])

In [20]:
f2e = {}

# exchanging key & values in e2f 
for k,v in e2f.items():
    f2e[v] = k
 
# printing the new dictionary
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

Q11. Print the English version of the French word chien using f2e.

In [21]:
f2e['chien']

'dog'

Q12. Make and print a set of English words from the keys in e2f.

In [24]:
for i in e2f:
    print(i)

dog
cat
walrus

In [25]:
print(e2f.keys())

dict_keys(['dog', 'cat', 'walrus'])

Q13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [26]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi':{},
        'emus': {}
    },
    'plants': {},
    'others':{}
}

In [27]:
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'others': {}}

Q14. Print the top-level keys of life.

In [28]:
print(life.keys())

dict_keys(['animals', 'plants', 'others'])

In [29]:
for i in life:
    print(i)

animals
plants
others

Q15. Print the keys for life['animals'].

In [30]:
for i in life['animals']:
    print(i)

cats
octopi
emus

In [37]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

Q16. Print values for life['animals']['cats'].

In [32]:
for i in life['animals']['cats']:
    print(i)

Henri
Grumpy
Lucy

In [35]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']